<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>732818088048-k1m5pg8eonijqo5f886ct1r00tdq7m6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732818088048-k1m5pg8eonijqo5f886ct1r00tdq7m6v</string>
	<key>API_KEY</key>
	<string>AIzaSyCkbeWKhbEY_rtlpMp8O19GQ9RpAEyQfBs</string>
	<key>GCM_SENDER_ID</key>
	<string>732818088048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.nativetest</string>
	<key>PROJECT_ID</key>
	<string>web-uat-1a4d8</string>
	<key>STORAGE_BUCKET</key>
	<string>web-uat-1a4d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:732818088048:ios:f3b18c62038a75c3</string>
	<key>DATABASE_URL</key>
	<string>https://web-uat-1a4d8.firebaseio.com</string>
</dict>
</plist>