<ion-header>
  <ion-toolbar class="main">
    <ion-buttons left>
      <button ion-button icon-only class="backbut" (click)="dismiss()">
              <ion-icon name="md-arrow-round-back"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logowhite.png" />
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="subheader">
    <ion-segment [(ngModel)]="butOff" color="secondary">
      <ion-segment-button value="pesan">
        Pesan
      </ion-segment-button>
      <ion-segment-button value="riwayat">
        Riwayat
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <template [ngIf]="butOff == 'pesan'">
    <ion-card class="orderCard">
      <ion-card-header>
        Pesanan Anda
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="cartData.length == 0">
          <h2>Cart kosong, silahkan pesan tutor terlebih dahulu </h2>
        </div>
        <div *ngIf="cartData.length > 0">
          <template ngFor let-datsky [ngForOf]="cartData">
            <ion-row>
              <ion-col ion-item item-content>
                <h3>Rp {{thousandMask(datsky.totalHarga)}}</h3>
                <p>{{displayDate(datsky.orderSchedule.startDate)}} s.d </p>
                <p>{{displayDate(datsky.orderSchedule.endDate)}}</p>
              </ion-col>
              <ion-col ion-item item-right>
                <button ion-button outline color="dark" (click)="orderDetailCart(datsky)">Detail</button>
                <button ion-button outline color="danger" (click)="removeOrder(datsky.$key)">Remove</button>
              </ion-col>
            </ion-row>
            {{getSubTotal()}} {{theTotal()}}
          </template>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="paymentCard" [hidden]="butOff != 'pesan'">
      <ion-card-header>
        Total Pembayaran
      </ion-card-header>
      <ion-list>
        <ion-item>
          <h2>Sub Total</h2>
          <h2 item-right>Rp {{cartData.length ? thousandMask(subtotal) : '0'}}</h2>
        </ion-item>
        <ion-item>
          <ion-label>Promo</ion-label>
          <ion-input clear item-right type="text" class="promo">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="cartData.length > 0">
          <ion-label>Pembayaran</ion-label>
          <ion-select [(ngModel)]="payment" class="payment">
            <ion-option value="transfer">Transfer</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="cartData.length > 0">
          <h2>Convenience Fee</h2>
          <h2 item-right>Rp {{thousandMask(conFee)}}</h2>
        </ion-item>

        <ion-item class="total" *ngIf="cartData.length > 0">

          <h2>Total</h2>
          <h2 item-right>Rp {{thousandMask(total)}}</h2>
        </ion-item>
        <ion-item class="total" *ngIf="cartData.length == 0 || cartData == undefined">

          <h2>Total</h2>
          <h2 item-right>Rp 0</h2>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-grid>
      <ion-row *ngIf="cartData.length > 0">
        <ion-col width-100 style="text-align:center;">
          <input type="hidden" id="token" value="{{token}}">
          <button class="buttons" ion-button id="pay-button" (click)="getToken()">Bayar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </template>
  <div *ngIf="historyData[0] != undefined && historyData.length > 0">
    <ion-list *ngFor="let history of historyData" [hidden]="butOff != 'riwayat'">
      <ion-item (click)="orderDetailCart(history)">
        <h3>{{history.tutorName}}</h3>
        <p> {{displayDate(history.orderSchedule.startDate)}} s.d {{displayDate(history.orderSchedule.endDate)}}</p>
        <span item-content>
    <h1> {{history.totalHarga ? history.status : 'replaced'}}</h1>
    <p> Rp. {{thousandMask(history.totalHarga)}}</p>
    </span>
        <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
