<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only class="backbut" (click)="dismiss()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logowhite.png" />
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content direction="y" class="has-footer" style="background-image: url(assets/patterna.png); background-position: initial !important; background-repeat: repeat!important; background-size:cover !important;">
  <!-- <template> -->
  <!-- <ion-scroll #content > -->
  <ion-list no-lines *ngFor="let chats of myChat; let i = index;">
    <ion-item style="background:none;" id="chat{{i+1}}">
      <div class="chatBubble">
        <!-- <img class="profile-pic {{chats.position}}" src="{{msg.img}}"> -->
        <div class="chat-bubble {{chats?.position}}" *ngIf="chats?.type == 'text'">
          <div class="message">{{chats?.message}}</div>
          <div class="message-detail">
            <span style="font-weight:bold;" *ngIf="chats?.position == 'left'">LESGO! </span>
            <span style="font-weight:bold;" *ngIf="chats?.position == 'right'">{{name}}</span>,
            <span>{{getDates(chats?.sentAt)}}</span>
            <span style="color:green;">{{!chats?.status ? 'new':''}}</span>
          </div>
        </div>
        <div class="chat-bubble {{chats?.position}}" *ngIf="chats?.type != 'text'">
          <div class="message">
            <img src="{{chats?.message}}" imageViewer/>
          </div>
          <div class="message-detail">
            <span style="font-weight:bold;" *ngIf="chats?.position == 'left'">LESGO!</span>
            <span style="font-weight:bold;" *ngIf="chats?.position == 'right'">{{name}} </span>,
            <span>{{getDates(chats?.sentAt)}}</span>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <!-- </ion-scroll> -->

  <!-- </template> -->
</ion-content>
<ion-footer no-border>
  <!-- <a href="#" (click)="scrollToBottom()">asdsaddsa</a> -->
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-input content type="text" [(ngModel)]="theChat" placeholder="Enter your message" (keyup.enter)="sendChat();">{{theChat}}</ion-input>
    <ion-buttons right>
      <button ion-button icon-only (click)="sendChat();">
        <ion-icon name="ios-send-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
